<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXyEgv1o5nKd9VwiXq0zyM_6pfA6n98-0</string>
	<key>GCM_SENDER_ID</key>
	<string>904102701136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speseCondivise</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-2428b</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-2428b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904102701136:ios:b941f2f60206766f628955</string>
	<key>DATABASE_URL</key>
	<string>https://expense-tracker-2428b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>